@font-face {
  font-family: Inter;
  src: url("./media/Inter-Regular.ttf");
}
* {
  font-family: Inter;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
body,
html {
  scrollbar-width: none;
  overflow: none;
  user-select: none;
  scroll-behavior: smooth;
}
#home,
#projects,
#contact {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  border-bottom: 2px solid #000;
}


#menu{
  position:fixed;
  left: -100%;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgb(189, 100, 100);
  transition: all 0.5s;
}
.menu-cont{
  height: 100%;
  display: flex;
  flex-flow: column;
  padding: 100px;
  justify-content: space-around;
  align-items: center;
  background: #000;
  font-size: 100px;
}
.menu-cont div a{
  text-decoration: none; 
  color: white;
}
.close{
position: absolute;
color: white;
padding: 20px 60px;
font-size: 40px;
  font-weight: 400;
  line-height: 48px;
right: 0;
}

/* scroller */


.scroller-cont{
  position: fixed;
  height: 160px;
  width: 160px;
  right: 0;
  bottom: 0;
  transform: translate(50%,50%);
  background-color: rgb(255, 255, 255);
	border-radius: 50%;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sbox{
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  display: block;
  background-color: #fff;
  z-index: 1000000;
}
.scroller {
	position:relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	color:  #000000;
	text-align: center;
  z-index: 100;
  opacity: 1;
}
	.scroller span {
		position: absolute;
		display: inline-block;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		text-transform: uppercase;
		font-size: 15px;
	}





/* navbar */

.nav {
    position: absolute;
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    border-bottom: 2px solid rgb(0, 0, 0);
    z-index: 10;
    background-color: rgba(255, 255, 255);
    color: rgb(0, 0, 0);
;

  }
.name-nav,
.menu {
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  margin: 0 40px;
}

.main {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .tagline-cont{
    position: relative;
   top: 30%;
   /* background-color: red; */
   overflow: hidden;

  }
.tagline {
  font-size: 110px;
  font-weight: 400;
  text-align: center;
  position: relative;
  perspective: 400px;
}
.tagline span{
  display: inline-block;
}
.work {
  font-size: 96px;
  font-weight: 400;
  bottom: 0;
  position: absolute;
  padding: 60px;
}
.name-main {
  font-size: 128px;
  font-weight: 400;
  padding: 60px;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* project */
#projects{
  overflow: auto;
white-space: nowrap;
}
.project-head {
  font-size: 128px;
  font-weight: 400;
  padding: 10px 60px;
}
.project-cont {
  /* background-color: red; */
  width: max-content;
  position: relative;
  margin: 50px 30px;
  display: flex;

}
.project-box {
  margin-left: 30px;
  /* background: rgb(47, 47, 47, 0.5); */
  border-radius: 12px;
  /* background-image: url('./media/pro1.png'); */
  /* border: 1px solid black; */
  /* overflow: hidden; */
}
.pro-img{
  overflow: hidden;
  position: relative;
  aspect-ratio: 16 / 9;
  width: 900px;
  background: cyan;
  z-index: 20;
  border: 1px solid;
  border-radius: 12px;
  transition: border-radius .5s;
  filter: grayscale(0.6);
}
.pro-img >img{
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 10s,filter 10s;

}
.pro-img:hover >img{
  filter: brightness(0.7);
  transform: scale(1.2);
}
.extra{
  position:absolute;
  transform: translateY(100%);
  bottom: 0;
  transition: transform .5s;
}
.pro-img:hover .extra{
  transform: translateY(0%);
}
.extra img{
  color: black;
  padding: 10px;
  width: 50px;
  height: 50px;
  z-index: 1000;
}
.pro-info{
  border: 1px solid;
  border-radius: 12px;
  transform: translateY(-100%);
  width: 900px;
  height: 50px;
  z-index:1;
  /* background-color: red; */
  border-radius: 0 0 12px 12px;
  transition: transform .5s;
  padding: 10px;
  font-size: 20px;
}
.project-box:hover .pro-info{
  border-top: 0px solid;
  transform: translateY(0%);
}
.project-box:hover .pro-img{
  border-radius:12px 12px 0 0; 
}


/* contact */

#contact {
    padding-left: 60px;
  }
.contact-head {
  padding: 10px 0;
  font-size: 128px;
  font-weight: 400;
}
.mail,
.address {
  margin-top: 5%;
}
.mail-name,
.address-name {
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 0em;
}
.mail-id,
.address-id {
  font-size: 96px;
  font-weight: 400;
  letter-spacing: 0em;
}
.social {
  position: absolute;
  bottom: 0;
  outline: none;
  text-decoration: none;
  display: flex;
  margin-bottom: 30px;
}
.link {
  text-decoration: none;
  color: #000;
  font-size: 30px;
  padding: 20px;
}
@media screen and (max-width: 1500px) {
  .tagline {
    font-size: 90px;
  }
}
@media screen and (max-width: 1200px) {
  .tagline {
    font-size: 70px;
  }
}
@media screen and (max-width: 900px) {
  .tagline {
    font-size: 50px;
  }
}

/* phone media */


@media screen and (max-width: 500px) {
  .tagline {
    top: 20%;
  }
  .tagline >span {
    display: block;
    text-align: left;
    font-size: 70px;
    margin-left: 20px;
  }
  .name-nav,
  .menu {
    margin: 0;
  }
  .work {
    padding: 20px;
    font-size: 30px;
  }
  .name-main {
    padding: 20px;
    font-size: 30px;
  }
  .project-head {
    font-size: 50px;
    padding: 20px;
  }
  #contact {
    padding-left: 20px;
  }
  .contact-head {
    font-size: 50px;
    padding: 20px 0;
  }
  .mail-name,
  .address-name {
    font-size: 30px;
  }
  .mail-id,
  .address-id {
    font-size: 40px;
  }
  .social {
    display: inline-block;
  }
  .link {
    padding: 20px 0;
    margin: 20px 0;
  }
  .menu-cont{
    font-size: 50px;
  }
  .close{
    padding: 20px;
  }
  #projects{
    min-height: 100vh;
  }
  .project-cont{
    margin: 10px;
    display: grid;
  }
  .project-box{
    margin:20px 10px;
  }
  .pro-img,.pro-info{
    width: 90vw;
  }
  .pro-info{
    transform: translate(0);
  }
  .pro-img{
  border-radius:12px 12px 0 0; 

  }
  .extra{
  transform: translateY(0%);
  }
}
